/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
}
section.module p {
  font-size: 15px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.module.parallax h3 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 23px;
  font-family: 'Dosis', sans-serif;
  line-height: 35px;
  padding-left: 60px;
  padding-top: 250px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 19px;
  padding-left: 65;
  padding-top: 80px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax-1 {
  background-image:url("https://michellechu77.github.io/michu_portfolio/images/michupic.png");
  height: 100%;
  position:relative;
}

section.module.parallax-1 h1 {
  line-height: 500px;
}

section.module.parallax-2 {
  background-image:url("http://michellechu77.github.io/michu_portfolio/images/gobug_screenshot.png");
  position:relative;
  z-index: 100;
}
section.module.parallax-3 {
  background-image: url("http://michellechu77.github.io/michu_portfolio/images/pen.jpg");
  position:relative;
  z-index: 100;
}

section.module.parallax-4 {
  background-image: url("http://michellechu77.github.io/michu_portfolio/images/business.jpg");
   position:relative;
  z-index: 100;
}

#scroll-wrapper {
  position:absolute;
  bottom:20px;
  left:46%;
}

#scroll {
  height: 50%;
  width: 50%
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 15px;
  }
  section.module.parallax h1 {
    font-size: 75px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 75px;
  }
}
